<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RSVP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v={{ version }}">
    <script src="{{ url_for('static', filename='reactivity.js') }}"></script>
    {% if turnstile_sitekey %}
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
    {% endif %}
</head>
<body>
    <div class="container">
        <div id="flash-messages">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
        </div>

        <h1>{{ header }}</h1>
        <h2>{{ subheader }}</h2>
        <form method="POST">
            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name" value="{{ first_name }}" placeholder="{{ placeholder.first_name }}" required><br>
            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name" value="{{ last_name }}" placeholder="{{ placeholder.last_name }}" required><br>
            {% if email_enabled %}
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{ email }}" placeholder="{{ placeholder.email }}" {% if email_required %}required{% endif %}><br>
            {% endif %}
            <label>Will you be attending?</label><br>
            <div class="radio-buttons">
                <input type="radio" id="attending_yes" name="attending" value="yes" onclick="toggleFields()" required>
                <label for="attending_yes">Yes</label>
                <input type="radio" id="attending_no" name="attending" value="no" onclick="toggleFields()" required>
                <label for="attending_no">No</label>
            </div>
            <div id="attending-fields" style="display:none;">
                {% if phone_enabled %}
                <label for="phone">Phone Number:</label>
                <input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="xxx-xxx-xxxx" {% if phone_required %}required{% endif %}><br>
                {% endif %}
                {% if guests_enabled %}
                <label for="guests">Number of Guests:</label>
                <input type="number" min="1" max="20" id="guests" name="guests" placeholder="1" {% if guests_required %}required{% endif %}><br>
                {% endif %}
            </div>
            {% if turnstile_sitekey %}
            <div style="display: block; flex-flow: row;">
                <div
                  class="cf-turnstile"
                  data-sitekey="{{ turnstile_sitekey }}"
                  data-size="flexible"
                ></div>
              </div>
            {% endif %}
            <button type="submit">Submit</button>
        </form>
        <a href="{{ url_for('index') }}">Back to Home</a>
    </div>
</body>
</html>
